<!DOCTYPE html>
<html>
<head>
	<title>The main form</title>
</head>
<body>
	<form enctype="multipart/form-data" action="/add" method="post">
		<form action="/add" method="post">
			<input type="text" name="category" placeholder="Category">
			<input type="text" name="author" placeholder="Author">
			<input type="file" name="mainfile">
			<button>Submit</button>
		</form>
	</form>
</body>
</html>